.footer {
  background-color: #20232a;
  /* background-color: #282c34; */
  color: #ffffff;
}

.footer h5 {
  color: #999;
}

.footer ul li {
  color: white !important;
}

.footer ul li a {
  color: white !important;
}
.footer ul li a:hover {
  color: #61dafb !important;
}

.text-muted {
  color: #999 !important;
}

.footer-copyrigth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}
