:root {
  --swiper-theme-color: white !important;
  --chromeAddressBarHeight: 56px;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slider-container {
  height: 500px;
}

.swiper-block-parallax {
  display: flex;
  flex-direction: column;
  width: 541px;
  position: absolute;
  bottom: 60px;
  top: 2rem;
  left: calc(200px + 8rem);
  right: 0;
  color: white;
}

.img-swiper {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 220px;
  height: 220px;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}

.swiper-parallax-title {
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.swiper-parallax-subtitle {
  padding-top: 0.5rem;
  color: #01d8ff;
  opacity: 0.75;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.swiper-parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 112%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left 0% bottom 78%;
}

/* Breakpoints */

@media (max-width: 575.98px) {
  .swiper-slider-container {
    height: calc(68vh);
  }

  .img-swiper {
    width: 160px;
    height: 160px;
    left: 2rem;
  }

  .swiper-block-parallax {
    width: 340px;
    /* bottom: 60px; */
    top: 14rem;
    left: 2rem;
    right: 0;
  }

  .swiper-parallax-title {
    font-size: 36px;
  }

  .swiper-parallax-subtitle {
    font-size: 20px;
  }

  .swiper-parallax-bg {
    left: 0;
    top: 0;
    width: 112%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: left 40% bottom 78%;
  }
}
