:root {
  --swiper-theme-color: white !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-slider-container {
  height: 500px;
}

.swiper-block-parallax {
  display: flex;
  flex-direction: column;
  width: 541px;
  position: absolute;
  bottom: 60px;
  top: 2rem;
  left: calc(200px + 8rem);
  right: 0;
  color: white;
}

.img-swiper {
  position: absolute;
  top: 2rem;
  left: 4rem;
  width: 220px;
  height: 220px;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: cover;
}

.swiper-parallax-title {
  font-size: 46px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
}

.swiper-parallax-subtitle {
  padding-top: 0.5rem;
  color: #01d8ff;
  opacity: 0.75;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.swiper-parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 112%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: left 0% bottom 78%;
}
